.infoUser{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 20px;
}

.avatar{
   display: flex;
   width: 50%;
   position: relative;
}
.avatar input{
   position: absolute;
   left: 0;
   display: none;
}
.avatar:hover input{
   display: block;
}
.info_profile{
   width: 50%;
   text-align: left;
}

.info_profile > div{
margin-bottom: 15px;
display: flex;
flex-wrap: wrap;
}

.soc_contact{
   width: 100%;
}