.menu{
   list-style: none;
   list-style: none;
   width: 20%;
   text-align: left;
   background-color: #1c1e21;
   padding: 20px;
   height: 100vh;
}
.item{
   margin: 10px 0;
}
.item a{
   text-decoration: none;
   color: #fff;
}
.item .active{
   color: green;
}