/* pagination */


.pagination{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: space-between;
}
.pagination > span{
   padding: 10px;
   align-items: center;
   background-color: lightsalmon;
   margin: 5px;
   width: 26px;
   height: 26px;
   line-height: 26px;
   border-radius: 50%;
}

.pagination > span.active{
   background-color: lightseagreen;
}